In [27]:
# Dataset: https://www.payscale.com/research/US/Employer=Tesla_Motors/Salary

In [28]:
# Import the modules and the dataset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor


data = pd.read_csv('Tesla_Salary.csv')
data.head(20)

                                        Job Title          Range    Average
0                               Software Engineer   $86k - $151k  $115,500
1                             Mechanical Engineer   $71k - $125k   $93,142
2                                Process Engineer   $69k - $110k   $87,390
3                 Technical Program Manager (TPM)   $83k - $141k  $112,302
4                          Manufacturing Engineer   $72k - $127k   $95,854
5                        Senior Software Engineer   $96k - $183k  $135,845
6                      Mechanical Design Engineer   $75k - $132k   $97,787
7                               Controls Engineer   $85k - $146k  $112,492
8   Project Manager, (Unspecified Type / General)   $54k - $137k   $85,846
9                         Global Sourcing Manager   $78k - $138k  $108,314
10                            Electrical Engineer   $71k - $158k  $100,497
11                          Production Supervisor   $60k - $102k   $78,951
12          Human Resources (HR) Business Partner   $69k - $138k   $98,032
13                     Senior Mechanical Engineer   $93k - $169k  $126,741
14                                 Staff Engineer   $82k - $219k  $134,538
15                            Industrial Engineer   $67k - $135k   $94,872
16              Senior Mechanical Design Engineer   $89k - $155k  $116,577
17                        Staff Software Engineer  $106k - $196k  $147,275
18                               Material Planner   $63k - $105k   $81,767
19                                   Data Analyst    $48k - $99k   $69,355

In [29]:
# Data Preprocessing

x = data.iloc[:, 2].values
y = data.iloc[:, 2].values

data.head()

                         Job Title         Range    Average
0                Software Engineer  $86k - $151k  $115,500
1              Mechanical Engineer  $71k - $125k   $93,142
2                 Process Engineer  $69k - $110k   $87,390
3  Technical Program Manager (TPM)  $83k - $141k  $112,302
4           Manufacturing Engineer  $72k - $127k   $95,854

In [30]:
# TODO: I want to take the average of the 'Range'
# TODO: Then, I want to compare the difference between the range average to 'Average' salary
# TODO: Finally, I want to see which 'Job Title' has the hightest 'Average' compared to the salary range.

In [32]:
for i in data['Range']:
    splt = i.split(' - ')
    print(f'{splt[0]}, {splt[-1]}')

$86k, $151k
$71k, $125k
$69k, $110k
$83k, $141k
$72k, $127k
$96k, $183k
$75k, $132k
$85k, $146k
$54k, $137k
$78k, $138k
$71k, $158k
$60k, $102k
$69k, $138k
$93k, $169k
$82k, $219k
$67k, $135k
$89k, $155k
$106k, $196k
$63k, $105k
$48k, $99k
$62k, $114k
$54k, $144k
$63k, $129k
$56k, $112k (Estimated *)
$64k, $96k (Estimated *)
$91k, $160k (Estimated *)
$61k, $128k (Estimated *)
$58k, $139k (Estimated *)
$67k, $134k (Estimated *)
$82k, $161k (Estimated *)
$58k, $119k (Estimated *)
$91k, $147k (Estimated *)
$34k, $71k (Estimated *)
$81k, $156k (Estimated *)
$117k, $242k (Estimated *)
$97k, $185k (Estimated *)
$81k, $130k (Estimated *)
$80k, $135k (Estimated *)
$82k, $163k (Estimated *)
$78k, $163k (Estimated *)
$65k, $119k (Estimated *)
$44k, $96k (Estimated *)
$61k, $103k (Estimated *)
$54k, $167k (Estimated *)
$89k, $139k (Estimated *)
$85k, $180k (Estimated *)
$66k, $150k (Estimated *)
$87k, $133k (Estimated *)
$40k, $85k (Estimated *)
$56k, $149k (Estimated *)
$61k, $109k (Estimated *)
$71k, $101k (Estimated *)
$81k, $134k (Estimated *)
$73k, $120k (Estimated *)
$49k, $87k (Estimated *)
$43k, $98k (Estimated *)
$51k, $106k (Estimated *)
$84k, $138k (Estimated *)
$36k, $99k (Estimated *)
$86k, $171k (Estimated *)
$87k, $145k (Estimated *)
$74k, $124k (Estimated *)
$76k, $136k (Estimated *)
$33k, $100k (Estimated *)
$59k, $100k (Estimated *)
$52k, $96k (Estimated *)
$60k, $152k (Estimated *)
$61k, $108k (Estimated *)
$72k, $142k (Estimated *)
$95k, $176k (Estimated *)
$79k, $123k (Estimated *)
$94k, $171k (Estimated *)
$72k, $135k (Estimated *)
$75k, $125k (Estimated *)
$107k, $188k (Estimated *)
$65k, $139k (Estimated *)
$57k, $97k (Estimated *)
$89k, $185k (Estimated *)
$82k, $129k (Estimated *)
$90k, $181k (Estimated *)
$95k, $160k (Estimated *)
$74k, $124k (Estimated *)
$37k, $73k (Estimated *)
$54k, $103k (Estimated *)
$63k, $109k (Estimated *)
$46k, $93k (Estimated *)
$73k, $120k (Estimated *)
$47k, $80k (Estimated *)
$81k, $149k (Estimated *)
$58k, $113k (Estimated *)
$47k, $103k (Estimated *)
$68k, $190k (Estimated *)
$107k, $155k (Estimated *)
$63k, $86k (Estimated *)
$64k, $127k (Estimated *)
$65k, $112k (Estimated *)
$87k, $165k (Estimated *)
$93k, $140k (Estimated *)
$81k, $127k (Estimated *)
$103k, $142k (Estimated *)
$35k, $55k (Estimated *)
$51k, $121k (Estimated *)
$211k, $385k (Estimated *)
$42k, $85k (Estimated *)
$44k, $80k (Estimated *)
$86k, $143k (Estimated *)
$52k, $98k (Estimated *)
$56k, $97k (Estimated *)
$66k, $117k (Estimated *)
$49k, $85k (Estimated *)
$43k, $92k (Estimated *)
$40k, $75k (Estimated *)
$102k, $180k (Estimated *)
$53k, $95k (Estimated *)
$99k, $166k (Estimated *)
$100k, $174k (Estimated *)
$86k, $143k (Estimated *)
$46k, $79k (Estimated *)
$65k, $125k (Estimated *)
$86k, $243k (Estimated *)
$80k, $131k (Estimated *)
$112k, $154k (Estimated *)
$108k, $167k (Estimated *)
$92k, $138k (Estimated *)
$95k, $140k (Estimated *)
$104k, $208k (Estimated *)
$83k, $136k (Estimated *)
$48k, $93k (Estimated *)
$54k, $159k (Estimated *)
$69k, $113k (Estimated *)
$65k, $116k (Estimated *)
$66k, $120k (Estimated *)
$190k, $264k (Estimated *)
$51k, $83k (Estimated *)
$147k, $230k (Estimated *)
$52k, $92k (Estimated *)
$32k, $69k (Estimated *)
$35k, $60k (Estimated *)
$81k, $131k (Estimated *)
$74k, $133k (Estimated *)
$146k, $230k (Estimated *)
$52k, $92k (Estimated *)
$89k, $153k (Estimated *)
$65k, $118k (Estimated *)
$59k, $99k (Estimated *)
$76k, $127k (Estimated *)
$70k, $128k (Estimated *)
$78k, $134k (Estimated *)
$73k, $111k (Estimated *)
$58k, $92k (Estimated *)
$63k, $102k (Estimated *)
$49k, $93k (Estimated *)
$90k, $200k (Estimated *)
$64k, $116k (Estimated *)
$69k, $122k (Estimated *)
$69k, $139k (Estimated *)
$33k, $74k (Estimated *)
$58k, $94k (Estimated *)
$102k, $156k (Estimated *)
$62k, $152k (Estimated *)
$41k, $81k (Estimated *)
$55k, $119k (Estimated *)
$37k, $66k (Estimated *)
$41k, $65k (Estimated *)
$25k, $72k (Estimated *)
$33k, $86k (Estimated *)
$55k, $100k (Estimated *)
$82k, $152k (Estimated *)
$55k, $81k (Estimated *)
$65k, $103k (Estimated *)
$61k, $103k (Estimated *)
$101k, $199k (Estimated *)
$168k, $387k (Estimated *)
$53k, $119k (Estimated *)
$65k, $134k (Estimated *)
$61k, $100k (Estimated *)
$78k, $142k (Estimated *)
$57k, $114k (Estimated *)
$83k, $152k (Estimated *)
$85k, $138k (Estimated *)
$63k, $103k (Estimated *)
$45k, $63k (Estimated *)
$82k, $146k (Estimated *)
$32k, $59k (Estimated *)
$124k, $242k (Estimated *)
$92k, $131k (Estimated *)
$50k, $82k (Estimated *)
$66k, $104k (Estimated *)
$41k, $86k (Estimated *)
$176k, $261k (Estimated *)
$126k, $193k (Estimated *)
$69k, $142k (Estimated *)
$69k, $121k (Estimated *)
$98k, $139k (Estimated *)
$67k, $125k (Estimated *)
$78k, $156k (Estimated *)
$87k, $135k (Estimated *)
$40k, $75k (Estimated *)
$66k, $107k (Estimated *)
$71k, $132k (Estimated *)
$62k, $99k (Estimated *)
$44k, $76k (Estimated *)
$93k, $147k (Estimated *)
$95k, $137k (Estimated *)
$67k, $99k (Estimated *)
$74k, $117k (Estimated *)
$82k, $159k (Estimated *)
$42k, $66k (Estimated *)
$140k, $210k (Estimated *)
$53k, $94k (Estimated *)
$45k, $72k (Estimated *)
$60k, $106k (Estimated *)
$64k, $141k (Estimated *)
$54k, $108k (Estimated *)
$49k, $104k (Estimated *)
$63k, $105k (Estimated *)
$74k, $133k (Estimated *)
$52k, $86k (Estimated *)
$106k, $156k (Estimated *)
$80k, $113k (Estimated *)
$108k, $187k (Estimated *)
$47k, $79k (Estimated *)
$45k, $84k (Estimated *)
$96k, $162k (Estimated *)
$103k, $167k (Estimated *)
$112k, $166k (Estimated *)
$43k, $68k (Estimated *)
$55k, $93k (Estimated *)
$36k, $63k (Estimated *)